
.card {
  margin: 2vw;
  opacity: 1.0;
  transition: all 500ms;
  font-size: x-large;
  text-align: left;
}

.card p {
  font-size: medium;
}

.card:hover {
  transform: scale(1.2);
}

#white {
  color: white;
}

#black {
  color: black;
}